:root   {
    --dark: #3D3D3D;
    --light:    #FFFDFA;
    --accent_1: #418CBB;
    --light__accent: #F1F6FA;
    --accent_2: #EC5393;
    --accent_3: #565EF9;
    --white: #ffffff;
    --black__light: #AFB0B0;

    --tr: 0.2s;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--light__accent);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1760px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.light {
    background-color: var(--light);
}

.title-h1 {
    font-family: "Alumni Sans", sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
    color: var(--dark);
}

.title-h2 {
    font-family: "Alumni Sans", sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;

}

.title-h3 {
    font-family: "Alumni Sans", sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;

}

.title-h4 {
    font-family: "Alumni Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;
}

.title-h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;
}

.text__xl {
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark);
    margin-top: 0;
    margin-bottom: 0;
}

.text__second {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: var(--black__light);
    margin-top: 2px;
    margin-bottom: 0;
}

.quote {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3;
    color: var(--dark);
    margin-top: 60px;
    margin-bottom: 0;
}

.crm {
    color: var(--accent_1);
}

.lms {
    color: var(--accent_3);
}

.erp {
    color: var(--accent_2);
}

.vin__text {
    font-family: "Alumni Sans", sans-serif;
    color: var(--accent_3);
    font-size: 30px;
    font-size: 700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 20px;
}

.header_logo {
    position: relative;
}

.massage {
    position: absolute;
    size: 735px 135px;
    top: 100px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 25px;
    font-weight: 600;
}

.btn {
    font-family: "Alumni Sans", sans-serif;
    padding: 10px 20px 10px;
    color: var(--dark);
}

.btn:hover {
    font-family: "Alumni Sans", sans-serif;
    padding: 10px 20px 10px;
    color: var(--accent_1);
}

.desc {
    position: relative;
}

.beautiful {
    position: absolute;
    top: -5px;
    right: 395px;
}

.comfortable {
    position: absolute;
    top: -5px;
    right: 285px;

}

.main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; 
    padding-bottom: 170px;  
}

.title {
    font-family: "Alumni Sans", sans-serif;    
}

.main__title {
    margin-top: 0;
    margin-bottom: 0;
}

.main__left {
    margin-top: 290px;
    margin-bottom: 170px;
}

.main__desc {
    margin-top: 40px;
}

.main__right {
    margin-top: 725px;
    margin-bottom: 0;
}

.btn_content {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

.btn_contact {
    font-family: "Monserrat", sans-serif; 
    color: var(--dark);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn_contact:hover {
    font-family: "Monserrat", sans-serif; 
    color: var(--accent_1);
}

.article {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 140px; 
    padding-bottom: 100px;

}
.light__accent {
    background-color: var(--light__accent);
    padding-top: 140px; 
    padding-bottom: 100px;
}

.container__two {
    margin: 0 auto;
    max-width: 1760px;
    position: center;
}

.about {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.years {
    position: absolute;
    top: 95px;
    left: 95px;
}

.about__left {
    max-width: 870px;
    position: relative;
}

.title__about {
    padding-bottom: 60px;
    position: relative;
}

.about__me {
    padding-bottom: 40px;
}

.ul {
    padding-left: 15px;
}

.li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.skills {
    padding-bottom: 40px;
    position: relative;
}

.img__skills {
    position: absolute;
    left: -50px;
    top: 40px;
}

.education {
    padding-bottom: 40px;
    max-width: 870px;
    position: relative;
}

.img__education {
    position: absolute;
    left: -25px;
    top: 40px;
}

.conteiner__education {
    padding-top: 20px;
}

.conteiner__education__one {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 870px;
    position: center;
    z-index: 3;
}

.conteiner__education__two {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 725px;
    position: center;
}

.left__text {
    width: 300px;
}

.about__right {
    justify-content: space-between;
    align-items: flex-end;
    max-width: 780px;
    padding-left: 100px;
    position: relative;
}

.photo_portrait {
    position: absolute;
    top: -550px;
    height: 540px;
}

.tag {
    display: flex;
    gap: 20px;
}

.tag_line__fi {
    position: relative;
}

.tag_line__ap {
    position: relative;

}

.tag_line__ai {
    position: relative;
}

.tag_line__pr {
    position: relative;
}

.bgline {
    position: absolute;
    top: 5px;
    left: -5px;
}

.right__text {
    width: 570px;
    z-index: 3;
}

.text__content {
    max-width: 780px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img {
    position: absolute;

}

.experience {
    display: flex;
    padding-top: 80px;
    padding-bottom: 40px;
    max-width: 1760px;
    position: center;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 3;
}

.bullit {
    position: relative;
    padding-top: 5px;
    margin: 0px;
    z-index: 3;
}

.bullit__2 {
    padding-top: 10px;
    margin: 0px;
}

.right__two {
    width: 780px;
    padding-left: 100px;
}
.left__experiens {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    z-index: 3;
}

.index {
    position: relative;
    z-index: 3;
}

.img__experiens {
    position: absolute;
    left: -50px;
    top: 40px;
    z-index: 2;
}

.click {
    position: absolute;
    left: -50px;
    left: 710px;
    top: -65px;
    z-index: 0;
}

.box {
    width: 1900px;
    height: 115%;
    position: absolute;
    background-color: var(--white);
    top: -20px;
    left: -1000px;
    right: 0;
    bottom: 0;
}
.container__experience {
    max-width: 1760;
    position: center;
}

.container__achievements {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.achievements {
    padding-top: 80px;
    padding-bottom: 40px;
    max-width: 1760px;
    margin: auto;
}

.achievements_left {
    max-width: 870px;
    position: relative;
}

.achievements_right {
    max-width: 870px;
}

.do {
    color: var(--accent_2);
}

.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.vin {
    display: flex;
    align-items: flex-end;
}

.vin__content {
    padding-right: 40px;
    position: relative;
    z-index: 1;
}

.vin__left {

}

.vin__right {

}

.box__vin {
    position: absolute;
    background-color: var(--white);
    width: 1000px;
    height: 500px;
    top: -10px;
    left: -150px;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.designed__content {
    padding-left: 40px;
    position: relative;
}

.certificat {
    width: 255px;
    height: 180px;
    background-color: var(--accent_1);
}

.colore__text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.designed

/* PORTFOLIO */

.conteiner__portfolio {
    background-color: var(--white);
    max-width: 1760px;
    padding-top: 140px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.white {
    background-color: var(--white);
}

/*FOOTER*/

.conteiner__contact {
    background-color: var(--white);
    max-width: 1760px;
    padding-top: 140px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.contact__1 {
    position: center;
}

.nav_footer {
    display: flex;
    max-width: 870px;
    margin: auto;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 400px;
}

.contact {
    justify-content: center;
}

.center {
    text-align: center;
}